.footer {
  width: 100vw;
  height: 61px;
  text-align: center;
  position: fixed;
  bottom: 0px;
  padding-top: 18px;
  background-color: #2e0052;
}
.footer p {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .footer p {
    font-size: 16px;
  }
}
